
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
    
      <h1 class="display-3">Welcome to anime_showcase</h1>
    
      <p>This is a starter Flask app.</p>
    </div>
</div><!-- /.jumbotron -->

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-code"></i> Anime Showcase</h2>
      <p>Simple Flask app</p>
      <p><a class="btn btn-outline-secondary" href="/about">Learn More &raquo;</a></p>
    </div>
  </div>
</div>

{% endblock %}

